In [1]:
import pandas
import nltk
import re
import numpy

nltk.download('wordnet')
nltk.download('sentiwordnet')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
from nltk.tokenize import word_tokenize
from nltk.corpus import wordnet
from nltk.wsd import lesk
from nltk.stem import WordNetLemmatizer

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\USER\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package sentiwordnet to
[nltk_data]     C:\Users\USER\AppData\Roaming\nltk_data...
[nltk_data]   Package sentiwordnet is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\USER\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\USER\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [125]:
anew = pandas.read_csv('all.csv') # import ANEW

#anew[['Description','Valence Mean','Arousal Mean']].head()
anew.head()
#anew.select("Description").show()

,Description,Word No.,Valence Mean,Valence SD,Arousal Mean,Arousal SD,Dominance Mean,Dominance SD,Word Frequency
0,grin,773,7.40,1.87,5.27,2.64,6.00,1.86,13
1,honest,210,7.70,1.43,5.32,1.92,6.24,2.13,47
2,gripe,774,3.14,1.56,5.00,2.19,4.67,1.79,.
3,honey,792,6.73,1.70,4.51,2.25,5.44,1.47,25
4,guillotine,196,2.48,2.11,6.56,2.54,4.64,2.63,.

In [126]:
# search emotion from anew word with thayer

v = anew['Valence Mean']#x
a = anew['Arousal Mean']#y


anew.loc[(v >= 5) & (a >= 5), 'Emotion'] = 'joy'
anew.loc[(v < 5) & (a >= 5), 'Emotion'] = 'anger' #Fear #Disgust #Shame
anew.loc[(v < 5) & (a < 5), 'Emotion'] = 'sadness'#Guilt
anew.loc[(v >= 5) & (a < 5), 'Emotion'] = 'calm'#Guilt

anew.head()

,Description,Word No.,Valence Mean,Valence SD,Arousal Mean,Arousal SD,Dominance Mean,Dominance SD,Word Frequency,Emotion
0,grin,773,7.40,1.87,5.27,2.64,6.00,1.86,13,joy
1,honest,210,7.70,1.43,5.32,1.92,6.24,2.13,47,joy
2,gripe,774,3.14,1.56,5.00,2.19,4.67,1.79,.,anger
3,honey,792,6.73,1.70,4.51,2.25,5.44,1.47,25,calm
4,guillotine,196,2.48,2.11,6.56,2.54,4.64,2.63,.,anger

In [6]:
#count label emotion

joy_ = 0
anger_ = 0
sadness_ = 0
calm_ = 0

for index, row in anew.iterrows():
    if row['Emotion'] == 'joy':
        joy_ +=1
    elif row['Emotion'] == 'anger':
        anger_ +=1
    elif row['Emotion'] == 'sadness':
        sadness_ +=1
    elif row['Emotion'] == 'calm':
        calm_ +=1
        
print(joy_, anger_, sadness_, calm_)

283 262 187 298

In [123]:
isear = pandas.read_csv('databersih.csv') #import ISEAR

isear = isear.rename(columns={ isear.columns[40]: "Sentence" })
isear[['Field1','Sentence']].head()

    Field1                                           Sentence
0      joy  During the period of falling in love, each tim...
1     fear         When I was involved in a traffic accident.
2    anger  When I was driving home after  several days of...
3  sadness   When I lost the person who meant the most to me.
4  disgust  The time I knocked a deer down - the sight of ...

In [127]:
isear = isear.rename(columns={ isear.columns[40]: "Sentence" })
isear.head()

,ID,CITY,COUN,SUBJ,SEX,AGE,RELI,PRAC,FOCC,MOCC,...,MORL,SELF,RELA,VERBAL,NEUTRO,Field1,Field3,Field2,MYKEY,Sentence
0,11001,1,1,1,1,33,1,2,6,1,...,2,3,3,2,0,joy,4,3,110011,"During the period of falling in love, each tim..."
1,11001,1,1,1,1,33,1,2,6,1,...,3,2,2,0,0,fear,3,2,110012,When I was involved in a traffic accident.
2,11001,1,1,1,1,33,1,2,6,1,...,2,2,1,0,0,anger,1,3,110013,When I was driving home after several days of...
3,11001,1,1,1,1,33,1,2,6,1,...,0,1,1,0,2,sadness,4,4,110014,When I lost the person who meant the most to me.
4,11001,1,1,1,1,33,1,2,6,1,...,0,0,2,0,0,disgust,4,4,110015,The time I knocked a deer down - the sight of ...

In [128]:
#change ISEAR emotion label to thayer class

isear.loc[isear['Field1'] == 'joy', 'Field1'] = 'joy'
isear.loc[(isear['Field1'] == 'fear') | 
          (isear['Field1'] == 'anger') | 
          (isear['Field1'] == 'disgust') | 
          (isear['Field1'] == 'shame'), 'Field1'] = 'anger'
isear.loc[(isear['Field1'] == 'guilt') |
          (isear['Field1'] == 'sadness'), 'Field1'] = 'sadness'
isear.head()

,ID,CITY,COUN,SUBJ,SEX,AGE,RELI,PRAC,FOCC,MOCC,...,MORL,SELF,RELA,VERBAL,NEUTRO,Field1,Field3,Field2,MYKEY,Sentence
0,11001,1,1,1,1,33,1,2,6,1,...,2,3,3,2,0,joy,4,3,110011,"During the period of falling in love, each tim..."
1,11001,1,1,1,1,33,1,2,6,1,...,3,2,2,0,0,anger,3,2,110012,When I was involved in a traffic accident.
2,11001,1,1,1,1,33,1,2,6,1,...,2,2,1,0,0,anger,1,3,110013,When I was driving home after several days of...
3,11001,1,1,1,1,33,1,2,6,1,...,0,1,1,0,2,sadness,4,4,110014,When I lost the person who meant the most to me.
4,11001,1,1,1,1,33,1,2,6,1,...,0,0,2,0,0,anger,4,4,110015,The time I knocked a deer down - the sight of ...

In [9]:
# count emotion label

joy_ = 0
anger_ = 0
sadness_ = 0
calm_ = 0

for index, rows in isear.iterrows():
    if rows['Field1'] == 'joy':
        joy_ +=1
    elif rows['Field1'] == 'anger':
        anger_ +=1
    elif rows['Field1'] == 'sadness':
        sadness_ +=1
    elif rows['Field1'] == 'calm':
        calm_ +=1
        
print(joy_, anger_, sadness_, calm_)

1094 4383 2189 0

In [129]:
# get ISEAR sentence for every ANEW

haduh2 = []
for index, row in anew.iterrows():
    def kerjo(haduh2):
        for indexs, rows in isear.iterrows():
            regex = r'(?<!\S)' + row['Description'] + r'(?!\S)'
            if ((str(row['Emotion']) == str(rows[36])) and bool(re.search(regex,rows.iloc[40].lower()))):
                row['Sentence'] = rows.iloc[40]
                haduh2.append(row)
                return
    kerjo(haduh2)

hasil2 = pandas.DataFrame(haduh2)
hasil2[['Description','Emotion','Sentence']].head()
#hasil2.head()

   Description  Emotion                                           Sentence
6       guilty    anger  I feel guilty as I am not working, and even my...
8          gun    anger  When my brother went to shoot wild ducks, I fe...
9         hope      joy  My friend took me to Civo Stadium to watch and...
12       habit  sadness  I wanted to get rid of a bad habit and it seem...
13      horror    anger  I felt fear of the purest kind after a car acc...

In [130]:
# post tagging ANEW word in ISEAR sentences

def pos_tag(hasil2):

    tokens = nltk.word_tokenize(str(hasil2['Sentence']))
    pos_tags = nltk.pos_tag(tokens)
    # pos_tags
    pos_dict = {}
    for token, pos in pos_tags:
        pos_dict[token.lower()] = pos

    for key, value in pos_dict.items() :
        if(key == hasil2['Description']):
            return value
    return numpy.nan

hasil2['POS'] = hasil2.apply(lambda x: pos_tag(x), axis=1)
hasil2.head()

,Description,Word No.,Valence Mean,Valence SD,Arousal Mean,Arousal SD,Dominance Mean,Dominance SD,Word Frequency,Emotion,Sentence,POS
6,guilty,197,2.63,1.98,6.04,2.76,3.09,2.22,29,anger,"I feel guilty as I am not working, and even my...",JJ
8,gun,593,3.47,2.48,7.02,1.84,3.53,2.72,118,anger,"When my brother went to shoot wild ducks, I fe...",NN
9,hope,794,7.05,1.96,5.44,2.47,5.52,2.20,178,joy,My friend took me to Civo Stadium to watch and...,NN
12,habit,775,4.11,1.77,3.95,2.11,4.30,1.79,23,sadness,I wanted to get rid of a bad habit and it seem...,NN
13,horror,213,2.76,2.25,7.21,2.14,4.63,2.70,17,anger,I felt fear of the purest kind after a car acc...,NN

In [132]:
hasil2[['Description','Emotion','Sentence','POS']].head()

   Description  Emotion                                           Sentence POS
6       guilty    anger  I feel guilty as I am not working, and even my...  JJ
8          gun    anger  When my brother went to shoot wild ducks, I fe...  NN
9         hope      joy  My friend took me to Civo Stadium to watch and...  NN
12       habit  sadness  I wanted to get rid of a bad habit and it seem...  NN
13      horror    anger  I felt fear of the purest kind after a car acc...  NN

In [131]:
#define synset

hasil2=hasil2.dropna()
x=hasil2['POS'] # POS

#print (x)
def get_pos(x):
    if x.startswith('J'): #adj
        return 'a'
    elif x.startswith('V'): #verb
        return 'v'
    elif x.startswith('N'): #noun
        return 'n'
    elif x.startswith('R'):
        return 'r'
    else:
        return None
    #print (get_post(x))
    
def get_synset(hasil2): #get synset
    words = nltk.word_tokenize(hasil2['Sentence'])
    synset = lesk(words, hasil2['Description'], get_pos(hasil2['POS']))
    if synset:
        return synset.name()
    else:
        return 'NaN'

hasil2['Synset'] = hasil2.apply(lambda x:get_synset(x), axis=1)
hasil2.head()

,Description,Word No.,Valence Mean,Valence SD,Arousal Mean,Arousal SD,Dominance Mean,Dominance SD,Word Frequency,Emotion,Sentence,POS,Synset
6,guilty,197,2.63,1.98,6.04,2.76,3.09,2.22,29,anger,"I feel guilty as I am not working, and even my...",JJ,guilty.a.01
8,gun,593,3.47,2.48,7.02,1.84,3.53,2.72,118,anger,"When my brother went to shoot wild ducks, I fe...",NN,gun.n.07
9,hope,794,7.05,1.96,5.44,2.47,5.52,2.20,178,joy,My friend took me to Civo Stadium to watch and...,NN,promise.n.02
12,habit,775,4.11,1.77,3.95,2.11,4.30,1.79,23,sadness,I wanted to get rid of a bad habit and it seem...,NN,habit.n.04
13,horror,213,2.76,2.25,7.21,2.14,4.63,2.70,17,anger,I felt fear of the purest kind after a car acc...,NN,horror.n.01

In [133]:
hasil2[['Description','Emotion','Sentence','POS','Synset']].head()

,Description,Emotion,Sentence,POS,Synset
6,guilty,anger,"I feel guilty as I am not working, and even my...",JJ,guilty.a.01
8,gun,anger,"When my brother went to shoot wild ducks, I fe...",NN,gun.n.07
9,hope,joy,My friend took me to Civo Stadium to watch and...,NN,promise.n.02
12,habit,sadness,I wanted to get rid of a bad habit and it seem...,NN,habit.n.04
13,horror,anger,I felt fear of the purest kind after a car acc...,NN,horror.n.01

In [68]:
y = hasil2['Sentence'] #ISEAR sentence for ANEW

def get_emotion(y):
    #y = hasil2['Sentence']
    words = nltk.word_tokenize(y) #tokenize ISEAR sentence
    #return words
    
    pos_tags = nltk.pos_tag(words) # POS for ISEAR sentence
    pos_dict = {}
    for token, pos in pos_tags:
        pos_dict[token] = pos
        
    val = 0
    ars = 0
    count = 0
    
    for word in words:
        word_df = anew.loc[anew['Description'] == word]
        if len(word_df) == 0:
            if get_pos(pos_dict[word]):
                word_df = anew.loc[anew['Description'] == WordNetLemmatizer().lemmatize(word, get_pos(pos_dict[word]))]
            
        if not word_df.empty:
            val += float(word_df['Valence Mean'])
            ars += float(word_df['Arousal Mean'])
            count += 1
    
    if count == 0:
        return 'NaN'
    
    val_avg = val/count
    ars_avg = ars/count
            
    if val_avg >= 5 and ars_avg >= 5:
        return 'joy'
    elif val_avg < 5 and ars_avg >= 5:
        return 'anger'
    elif val_avg < 5 and ars_avg < 5:
        return 'sadness'
    else:
        return 'other'  

def test_emotion(hasil2):
    synset = wordnet.synset(hasil2['Synset'])
    sentence = synset.definition()
    for example in synset.examples():
        sentence += '. ' + example
    return get_emotion(sentence)

test = hasil2[hasil2['Synset'] != 'NaN']
test = test[['Description', 'Synset', 'Emotion']].copy()
test['Emotion Test'] = test.apply(lambda x:test_emotion(x), axis=1)
print(test)

     Description                     Synset  Emotion Emotion Test
6         guilty                guilty.a.01    anger        anger
8            gun                   gun.n.07    anger        anger
9           hope               promise.n.02      joy          joy
12         habit                 habit.n.04  sadness        other
13        horror                horror.n.01    anger        anger
17      hospital              hospital.n.02      joy        anger
27           hug                   hug.n.01      joy          joy
30         happy                 happy.a.01      joy          joy
32          hard              unvoiced.a.01      joy        other
33     humiliate             humiliate.v.01    anger        anger
37        hungry                hungry.a.01    anger          joy
38          hate                  hate.n.01    anger          joy
41          hurt                  hurt.v.05    anger        anger
47          idea                 theme.n.03      joy          joy
52        health                health.n.02      joy          joy
54         heart                 heart.n.10      joy          joy
57       illness               illness.n.01  sadness        other
58          hell                  hell.n.03    anger        anger
61      immature                 young.a.01  sadness          joy
63       immoral               immoral.a.01  sadness          NaN
64          hide                shroud.v.01    anger          NaN
72           hit                 shoot.v.01    anger        anger
82     infection             infection.n.03    anger        anger
87        killer                killer.n.01    anger      sadness
95          kiss                  kiss.n.02      joy        other
99         knife                tongue.n.03    anger        anger
104     inspired                prompt.v.02      joy          NaN
106       insult                  diss.v.01    anger        anger
112     interest              interest.n.01      joy          joy
123       leader          drawing_card.n.02      joy          NaN
...          ...                        ...      ...          ...
935         evil                  evil.a.01    anger        anger
940       doctor  doctor_of_the_church.n.01      joy        other
941       excuse                excuse.n.01  sadness      sadness
945     exercise              exercise.n.05      joy          joy
949         face                  face.v.05      joy          joy
951      failure               failure.n.07  sadness      sadness
952         fall                  fall.v.10  sadness      sadness
953       friend                friend.n.05      joy          NaN
955     friendly              friendly.a.01      joy          joy
963          fun           playfulness.n.02      joy          joy
965      funeral               funeral.n.01  sadness        anger
970       father                father.n.03      joy        other
971         game                  game.n.09      joy          joy
974        fault                 fault.n.04  sadness        other
978         fear                  fear.n.01    anger        anger
980      fearful              cowardly.a.01    anger        other
989         gift                giving.n.01      joy          NaN
990        fight                battle.n.01    anger          joy
996         fire                  fire.n.07    anger        anger
997        glass       methamphetamine.n.01  sadness        anger
999        gloom                 gloom.n.03  sadness      sadness
1003         god                   god.n.01      joy          NaN
1005        gold                  gold.n.05      joy          joy
1009        good                  good.a.01      joy          joy
1011      gossip                gossip.n.02    anger        anger
1013    graduate              graduate.v.01      joy          joy
1023       greet                 greet.v.03      joy          joy
1025     grenade               grenade.n.01    anger        anger
1026        free                  free.a.02      joy          joy
1027       grief                 grief.n.01  sadness          joy

[252 rows x 4 columns]

In [69]:
# def test_emotion(hasil2):
#     synset = wordnet.synset(hasil2['Synset'])
#     sentence = synset.definition()
#     for example in synset.examples():
#         sentence += '. ' + example
#     return get_emotion(sentence)

# test = hasil2[hasil2['Synset'] != 'NaN']
# test = test[['Description', 'Synset', 'Emotion']].copy()
# test['Emotion Test'] = test.apply(lambda x:test_emotion(x), axis=1)
# print(test)

In [75]:
joy_ = 0
anger_ = 0
sadness_ = 0


for index, row in test.iterrows():
    if row['Emotion'] == 'joy':
        joy_ +=1
    if row['Emotion'] == 'anger':
        anger_ +=1
    if row['Emotion'] == 'sadness':
        sadness_ +=1
    
    count = joy_ + anger_ + sadness_
        
print(joy_, anger_, sadness_, count)

91 116 45 252

In [77]:
true = 0
count = 0
for index, row in test.iterrows():
    
    if row['Emotion Test'] != 'NaN':
        count += 1
    if row['Emotion'] == row['Emotion Test']:
        true += 1

true, count, true/count

(125, 216, 0.5787037037037037)

In [71]:
y_actu = pandas.Series(test['Emotion'], name='Actual')
y_pred = pandas.Series(test['Emotion Test'], name='Predicted')
df_confussion = pandas.crosstab(y_actu, y_pred, rownames=['Actual'],colnames=['Predicted'])
# df_confussion=df_confussion.dropna()

print(df_confussion)

Predicted  NaN  anger  joy  other  sadness
Actual
anger       15     50   22     16       13
joy         13      1   59     17        1
sadness      8      5    7      9       16